body{
    background-color: gray;
}

#gridWrapper{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.question, .questionTopic{
    background-color: rgba(48, 3, 48, 0.74);
    aspect-ratio: 2/1;
    width: auto;
    /* text-align appears to be needed for top left grid square...no idea why */
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    
    
}

.taken{
    background-color: gray;
    color: gray
}

.modal{
    width: 40%;
    background-color: white;
    border: 1px black solid;
    border-radius: 4px;
    padding: 2rem;
    /* text-align: center; */
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 2;
 }
 
 .overlay{
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     /* width: 100%; */
     background-color: rgba(0, 0, 0, 0.5);
     backdrop-filter: blur(3px);
 }
 .hidden{
     display: none;
 }

 #playerScores{
     display: flex;
     justify-content: space-evenly;
 }
 .player{
     display: flex;
     align-items: center;
     gap: 2px;
 }