<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia Friction</title>
  </head>
  <body>
    <div id="iconWrap">
      <img
        src='<%= require("./img/dice-outline.svg") %>'
        alt="Random Names"
        title="Random Player Names"
        id="randomNamesIcon"
      />
      <img
        src='<%= require("./img/plus-square.svg") %>'
        alt="New Game Button"
        title="Start new game"
        id="newGameButton"
      />
    </div>

    <header id="title">
      <h1>Trivia Friction</h1>
    </header>

    <section id="uploadWrapper">
      <!-- rename upload to game start -->
      <div id="inputWrap">
        <input type="file" id="fileInput" accept=".csv, .json" />
        <div id="playerCountWrap">
          <label for="playerCount">Players:</label>
          <select name="playerCount" id="playerCount">
            <option value="4">4</option>
            <option value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
      <button id="upload">Start Game</button>
      <!-- change id -->
    </section>

    <section id="playerScores"></section>
    <section id="game">
      <div id="gridWrapper"></div>
    </section>
    <div class="modal hidden"></div>
    <div class="overlay hidden"></div>
  </body>
</html>
