/* colors */
body {
  background-color: gray;
}
.categoryWrap {
  background-color: pink;
}

.categoryInput {
  background-color: purple;
}
.categoryQuestionData {
  background-color: aqua;
}

.QAVWrap {
  background-color: yellowgreen;
}
/*  */

/* categories */
#allCategories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 100px;
}
.categoryWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  width: 260px;
}

.closeCategory {
  margin: 0;
  margin-left: auto;
  cursor: pointer;
}
/*  */

/* questions */
.categoryQuestionData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.QAVWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/*  */
