body {
  background-color: gray;
  text-align: center;
  overflow: auto;
}

#gridWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  height: 50vh;
  font-size: 20px;
  font-weight: bold;
}

.question,
.questionTopic {
  background-color: rgba(51, 103, 199, 0.63);
  aspect-ratio: 2/1;
  width: min(15vw, 200px);
  /* text-align appears to be needed for top left grid square...no idea why */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taken {
  background-color: gray;
  color: gray;
}

.modal {
  width: 60%;
  background-color: white;
  border: 1px black solid;
  border-radius: 4px;
  padding: 2rem;
  /* text-align: center; */
  position: fixed;
  top: 15%;
  left: 20%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
.hidden {
  display: none;
}

#playerScores {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.player {
  display: flex;
  align-items: center;
  gap: 2px;
}

img {
  height: 30vh;
}
.scoreButtons {
  display: flex;
  gap: 10px;
}
